{% extends "portal/base_portal.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/blog/upcoming_events_detail.css' %}">
{% endblock css %}

{% block title %}Event Details{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/portal/blog/upcoming_event_detail.css' %}">
    
    <div class="event-detail-container">
        <div class="teams">
            <div class="team">
                <img src="{{ event.home_team_team.logo_url }}" alt="{{ event.home_team_team.team_name }} logo" />
                <p>{{ event.home_team_team.team_name }}</p>
            </div>
            <div class="vs">VS</div>
            <div class="team">
                <img src="{{ event.away_team_team.logo_url }}" alt="{{ event.away_team_team.team_name }} logo" />
                <p>{{ event.away_team_team.team_name }}</p>
            </div>
        </div>

        <h1>{{ event.title }}</h1>
        <p>{{ event.description }}</p>
        <p class="commence-time" data-time="{{ event.commence_time }}">Commence Time: {{ event.commence_time }}</p>

        <!-- Bookmakers Section -->
        <div class="bookmakers-section">
            <h2>Bookmakers</h2>
            {% if event.bookmakers %}
                {% for bookmaker in event.bookmakers %}
                    <div class="bookmaker">
                        <h3>{{ bookmaker.title }}</h3>
                        {% for market in bookmaker.markets %}
                            <div class="market" data-key="{{ market.key }}">
                                <h4 class="market-title">{{ market.title }}</h4>
                                <ul>
                                    {% for outcome in market.outcomes %}
                                        <li class="outcome">
                                            <div class="outcome-name-container">
                                                <span class="outcome-name">{{ outcome.name }}</span>
                                            </div>
                                            <div class="point-container">
                                                <span class="point">{{ outcome.point }}</span>
                                            </div>
                                            <div class="price-container">
                                                <span class="price">{{ outcome.price }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No bookmakers found for this event.</p>
            {% endif %}
        </div>
    </div>

    <script>
        // JavaScript function to get the market title
        const getMarketTitle = (key) => {
            switch (key.toLowerCase()) {
                case 'h2h':
                    return 'Head 2 Head';
                case 'spreads':
                    return 'Spreads';
                case 'totals':
                    return 'Over/Under';
                default:
                    return key;
            }
        };

        document.addEventListener('DOMContentLoaded', function() {
            // Update commence time formatting
            const timeElements = document.querySelectorAll('.commence-time');
            timeElements.forEach(function(element) {
                const timeString = element.getAttribute('data-time');
                const date = new Date(timeString);  // Convert the string to a JavaScript Date object
                const options = {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                };
                const formattedDate = date.toLocaleString('en-US', options);
                element.textContent = formattedDate;
            });

            // Update market titles using the getMarketTitle function
            const marketElements = document.querySelectorAll('.market');
            marketElements.forEach(function(element) {
                const marketKey = element.getAttribute('data-key');
                const marketTitleElement = element.querySelector('.market-title');
                marketTitleElement.textContent = getMarketTitle(marketKey);
            });
        });
    </script>
{% endblock content %}
