body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #3D7EAA, #FFE47A);
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* static/css/public/main.css */

/* Nav */
.nav,
.sb-sidenav-menu {
    .nav-link .sb-nav-link-icon {
        margin-right: 0.5rem;
    }
}

/* Topnav */
.sb-topnav {
    padding-left: 0;
    height: 3.5rem; /* Adjust as needed */
    z-index: 1030; /* Adjust as needed */

    .navbar-brand {
        width: 15rem; /* Adjust as needed */
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }

    &.navbar-dark {
        #sidebarToggle {
            color: #fff; /* Adjust as needed */
        }
    }

    &.navbar-light {
        #sidebarToggle {
            color: #000; /* Adjust as needed */
        }
    }
}
