{% extends "public/base.html" %}
{% load static %}

{% block title %}Activate your account · Paradise Sports{% endblock title %}
{% block meta_description %}Check your email to activate your Paradise Sports account.{% endblock meta_description %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <section class="auth">
        <div class="auth__card auth__card--center">
            <div class="auth__head">
                <h1>Activate your account</h1>
            </div>
            <p class="ps-lead">Thanks for registering!</p>
            <p>
                We&rsquo;ve sent you an email with a link to activate your account. Click
                the link, then navigate back to the site to log in.
            </p>
            <p class="auth__alert auth__alert--info">
                Can&rsquo;t find the email? Check your spam folder, or
                <a href="{% url 'core-web:contact' %}">contact us</a> for help.
            </p>
            <div class="auth__actions">
                <a href="{% url 'core-auth:login' %}" class="ps-btn ps-btn--primary">Go to log in</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
