{% extends "portal/base_portal.html" %}
{% load static %}
{% block title %}Password Reset{% endblock title %}



{% block content %}
<div class="bg-white shadow-md p-5 form-layout mt-0 rounded">
    <h3 class="mb-4 text-left"> Password Reset </h3>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="form-group text-left">
            {{ form }}
        </div>
        <br>
        <br>
        <input class="btn btn-success btn-lg mt-3" type="submit" value="Send Email">
    </form>
</div>

{% endblock content %}