{% extends "public/base.html" %}
{% load static %}

{% block title %}Password reset · Paradise Sports{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
  <section class="auth">
    <div class="auth__card auth__card--center">
      <div class="auth__head">
        <h1>You&rsquo;re all set</h1>
        <p>Your password has been reset. You can now log in with your new password.</p>
      </div>
      <div class="auth__actions">
        <a href="{% url 'core-auth:login' %}" class="ps-btn ps-btn--accent">Log in</a>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
