{% extends "public/base.html" %}
{% load static %}

{% block title %}Set a new password · Paradise Sports{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
  <section class="auth">
    <div class="auth__card">
      <div class="auth__head">
        <h1>Set a new password</h1>
        <p>Choose a strong password you don&rsquo;t use anywhere else.</p>
      </div>

      <form method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="form-field">
          {{ form }}
        </div>
        <button class="ps-btn ps-btn--primary ps-btn--block auth__submit" type="submit">Update password</button>
      </form>
    </div>
  </section>
</div>
{% endblock content %}
