{% extends 'admin/base_admin.html' %}

{% block title %}Tournament Details{% endblock title %}

{% block content %}
<div class="container">
    <h1>{{ tournament.name }}</h1>
    <p><strong>Start Date:</strong> {{ tournament.start_date|date:"Y-m-d H:i" }}</p>
    <p><strong>End Date:</strong> {{ tournament.end_date|date:"Y-m-d H:i" }}</p>
    <p><strong>State:</strong> {{ tournament.state }}</p>
    <p><strong>Max Accepted Players:</strong> {{ tournament.max_accepted_players }}</p>
    <p><strong>Levels:</strong> {{ tournament.levels }}</p>
    {% if tournament.winner %}
        <p><strong>Winner:</strong> {{ tournament.winner.player.username }}</p>
    {% endif %}
    {% if tournament.final_round %}
        <h2>Final Round</h2>
        <p>{{ tournament.final_round }}</p>
    {% endif %}
</div>
{% endblock content %}
