/* Layout styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #3D7EAA, #FFE47A);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
  padding: 0 20px; /* Add padding for mobile devices */
}

main {
  flex: 1;
}

/* Desktop Styles */
@media (min-width: 992px) {
  .container {
    padding: 0 40px; /* Increase padding for larger screens */
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 30px; /* Adjust padding for tablets */
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .container {
    padding: 0 15px; /* Ensure padding is consistent on smaller screens */
  }

  body {
    background: linear-gradient(to bottom, #3D7EAA, #FFE47A); /* Change gradient direction for mobile */
  }
}


