{% extends "portal/base_portal.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/match/public_match_detail.css' %}">
{% endblock css %}

{% block content %}
<div class="match-detail">
    <h1><strong>Match Request Details</strong></h1>
    <p>Match ID: {{ match.id }}</p>
    
    <!-- Player Cards -->
    <div class="player-cards">
        <div class="player-card">
            {% if match.player_1.avatar %}
            <img src="{{ match.player_1.avatar.url }}" alt="{{ match.player_1.username }}'s avatar" class="avatar">
            {% else %}
                <img src="https://robohash.org/1" class="rounded-circle" width="36" height="36" alt="User Avatar">
            {% endif %}
            <h2>{{ match.player_1.username }}</h2>
        </div>
       
    </div>

    <!-- Upload Button -->
    {% if is_player_in_match %}
    <button class="upload-button" onclick="openUploadPopup()">Upload A Pick</button>
    {% endif %}

    <!-- Match Information -->
    <div class="game-info">
        <h2>Match Information</h2>
        <p><strong>Start Date:</strong> {{ match.start_date }}</p>
        </p>
    </div>


    <button class="btn btn-primary expand-button" onclick="showPopup()">
        Accept Match
    </button>
</div>

<div id="acceptMatchPopup" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>Are you sure you want to create a match?</h2>
        <div class="modal-buttons">
            <button class="btn btn-primary" onclick="submitMatch()">Submit</button>
            <button class="btn btn-secondary" onclick="closePopup()">Cancel</button>
        </div>
    </div>
</div>

<script>
    function showPopup() {
        document.getElementById('acceptMatchPopup').style.display = 'flex';
    }
    
    function closePopup() {
        document.getElementById('acceptMatchPopup').style.display = 'none';
    }
    
    function submitMatch() {
        // Send a POST request to create a match
        fetch("{% url 'core-portal:portal-accept-public-match' match.id%}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token for security
            },
            body: JSON.stringify({
                // Add any necessary data for match creation here
                'action': 'accept'
            })
        })
        .then(response => {
            if (response.ok) {
                alert("Match created!"); // Notify user of success
                closePopup();
                window.location.href = "{% url 'core-portal:portal-my-match-detail' match.id %}"; // Redirect to match detail
                // Close the popup after submission
            } else {
                alert("Error creating match."); // Notify user of error
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert("An error occurred."); // Notify user of error
        });
    }
</script>

{% endblock %}
