<div class="d-flex flex-column p-3">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/web/admin/dashboard/" class="nav-link active" aria-current="page">
                <i class="fas fa-home"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/web/admin/waitlist/" class="nav-link">
                <i class="fas fa-users"></i> Waitlist
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="fas fa-users"></i> Users
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="fas fa-cog"></i> Settings
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </li>
    </ul>
</div>
