.event-container.selected {
    /* Change to your desired highlight color */
    border: 10px solid #FFE47A; /* Optional: Add a border for better visibility */
    background: #FFE47A;
}
.event-container {
    transition: background-color 0.3s; /* Smooth transition for background color */
    background-color: #FFE47A;
}