.event-container.selected {
    /* Change to your desired highlight color */
    border: 10px solid #FFE47A; /* Optional: Add a border for better visibility */
    background: #FFE47A;
}

.offset-2 {
    margin-left: auto;
    margin-right: auto;
}

.col-10 {
    flex: 0 0 auto;
    width: auto;
}

.equal-height {
    height: 100%;
    max-height: 975px; /* Ensure equal height */
    display: flex;
    flex-direction: column;
}