{% extends "portal/base_portal.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/event/create_thread.css' %}">
{% endblock css %}

{% block title %}Create Thread in {{ forum.name }}{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Create Thread in {{ forum.name }}</h1>
        <form method="POST" class="mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Thread</button>
        </form>
        <a href="{% url 'core-portal:thread_list' forum.id %}" class="btn btn-secondary">Back to Threads</a>
    </div>
{% endblock %}
