{% extends "portal/base_portal.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/event/create_post.css' %}">
{% endblock css %}

{% block title %}Create Post{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Create Post</h1>
        <form method="POST" class="mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
        <a href="{% if thread %}{% url 'core-portal:thread_detail' thread.id %}{% else %}{% url 'core-portal:upcoming-events-detail' event.id %}{% endif %}" class="btn btn-secondary">Back</a>
    </div>
{% endblock %}
