{% extends "portal/base_portal.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/event/upcoming_events_detail.css' %}">
{% endblock css %}

{% block title %}Event Details{% endblock title %}

{% block content %}
    
    <div class="event-detail-container">
        <div class="teams">
            <div class="team">
                <img src="{{ event.home_team_team.logo_url }}" alt="{{ event.home_team_team.team_name }} logo" />
                <p>{{ event.home_team_team.team_name }}</p>
            </div>
            <div class="vs">VS</div>
            <div class="team">
                <img src="{{ event.away_team_team.logo_url }}" alt="{{ event.away_team_team.team_name }} logo" />
                <p>{{ event.away_team_team.team_name }}</p>
            </div>
        </div>

        <h1>{{ event.title }}</h1>
        <p>{{ event.description }}</p>
        <p class="commence-time" data-time="{{ event.commence_time }}">Commence Time: {{ event.commence_time }}</p>

        <!-- Bookmakers Section -->
        <div class="bookmakers-section">
            <h2>Odds</h2>
            <div class="bookmakers-scroll" style="overflow-x: auto; white-space: nowrap;">
                {% if event.bookmakers %}
                    {% for bookmaker in event.bookmakers %}
                        <div class="bookmaker" style="display: inline-block; width: 300px; margin-right: 20px;">
                            <h3>{{ bookmaker.title }}</h3>
                            {% for market in bookmaker.markets %}
                                <div class="market" data-key="{{ market.key }}">
                                    <h4 class="market-title">
                                        {% if market.key == 'h2h' %}
                                            Head 2 Head
                                        {% elif market.key == 'totals' %}
                                            Totals
                                        {% elif market.key == 'spreads' %}
                                            Spreads
                                        {% else %}
                                            {{ market.key }}
                                        {% endif %}
                                    </h4>
                                    <ul>

                                        {% for outcome in market.outcomes %}
                                            <li class="outcome" >
                                                <span class="outcome-name" style="color: #007bff; font-weight: bold;">{{ outcome.name }}</span>
                                                <span style="color: #007bff; ">|</span>
                                                <span class="point" style="color: #333;">{{ outcome.point }}</span>
                                                <span style="color: #007bff;">|</span>
                                                <span class="price" style="color: #28a745;">{{ outcome.price }}</span>
                                            </li>
                                            <hr>
                                        {% endfor %}

                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No bookmakers found for this event.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Post Section -->
    <div class="post-section">
        <h2>Comments</h2>
        
        <!-- Post Form -->
        <form method="post" action="{% url 'core-portal:create_post_event' event.id %}" class="post-form">
            {% csrf_token %}
            <div class="user-info">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" class="rounded-circle" width="36" height="36" alt="User Avatar">
                {% else %}
                    <img src="https://robohash.org/1" class="rounded-circle" width="36" height="36" alt="User Avatar">
                {% endif %}
                <span class="username">{{ user.username }}</span>
            </div>
            {{ post_form.content }}
            <input type="hidden" name="thread" value="{{ thread.id }}">
            <input type="hidden" name="event" value="{{ event.id }}">
            <button type="submit">Post</button>
        </form>

        <!-- Display each post and its replies -->
        <div class="posts-list">
            {% for post in event_posts %}
                <div class="post-item">
                    <div class="user-info">
                        <h4>
                            {% if post.created_by.avatar %}
                                <img src="{{ post.created_by.avatar.url }}" class="rounded-circle" width="36" height="36" alt="User Avatar">
                            {% else %}
                                <img src="https://robohash.org/1" class="rounded-circle" width="36" height="36" alt="User Avatar">
                            {% endif %}
                            {{ post.created_by.username }}
                            <span class="text-muted">- {{ post.created_at }}</span>
                        </h4>
                    </div>
                    <p>{{ post.content }}</p>

                    <!-- Display Replies -->
                    <div class="replies-list">
                        {% for reply in post.replies.all %}
                            <div class="reply-item">
                                <strong>{{ reply.created_by.username }}</strong> - {{ reply.created_at }}
                                <p>{{ reply.content }}</p>
                            </div>
                        {% empty %}

                        {% endfor %}
                    </div>

                    <!-- Reply Icon and Toggle Reply Form -->
                    {% if user.is_authenticated %}
                        <div class="reply-section">
                            <button type="button" class="reply-icon" onclick="toggleReplyForm('{{ post.id }}')">Reply</button>
                            
                            <!-- Hidden Reply Form -->
                            <div id="reply-form-{{ post.id }}" class="reply-form hidden">
                                <form method="post" action="{% url 'core-portal:create_reply' post.id %}">
                                    {% csrf_token %}
                                    <textarea name="content" rows="2" placeholder="Write your reply here..." required></textarea>
                                    <button type="submit">Submit Reply</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <p>No posts yet. Be the first to share an update!</p>
            {% endfor %}
        </div>
    </div>

    <script>
    // Function to toggle reply form visibility
    function toggleReplyForm(postId) {
        const replyForm = document.getElementById(`reply-form-${postId}`);
        if (replyForm.classList.contains('hidden')) {
            replyForm.classList.remove('hidden');
        } else {
            replyForm.classList.add('hidden');
        }
    }

    // JavaScript for updating commence time format
    document.addEventListener('DOMContentLoaded', function() {
        const timeElements = document.querySelectorAll('.commence-time');
        timeElements.forEach(function(element) {
            const timeString = element.getAttribute('data-time');
            const date = new Date(timeString);
            const options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
            };
            element.textContent = date.toLocaleString('en-US', options);
        });
    });
    </script>
{% endblock content %}
