/* Navbar styles */
.navbar {
    background-color: #3D7EAA; /* Ocean blue */
    border: 3px solid #275d81; /* Border */
    border-radius: 15px; /* Rounded corners */
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center; /* Ensures vertical centering */
}

/* Responsive image logo */
.navbar-logo {
    max-width: 150px; /* Adjust as needed */
    max-height: 50px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures the image scales while maintaining its aspect ratio */
}

/* Adjustments for iOS compatibility */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .navbar-logo {
        max-width: 150px;
        max-height: 50px;
        object-fit: contain;
    }
}

.navbar-nav {
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s, text-decoration 0.3s; /* Smooth transition for hover effects */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FFE47A; /* Highlight text */
    font-size: 18px; /* Slightly larger text */
    text-decoration: underline; /* Underline text */
}

.dropdown-menu {
    display: none; /* Hide dropdowns by default */
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure dropdown appears above other content */
}

/* Show dropdown on hover */
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

/* Adjust dropdown alignment for user avatar and notification bell */
.navbar-nav .nav-item .dropdown-menu {
    right: 0; /* Align dropdown menu to the right of the parent */
    left: auto; /* Prevent the dropdown from stretching to the left */
}

/* Responsive Styles */

/* Tablet and Mobile Styles */
@media (max-width: 991.98px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto; /* Adjust height for smaller screens */
        padding: 15px;
    }

    .navbar-brand {
        margin-bottom: 10px; /* Add spacing between brand and menu */
    }

    .navbar-collapse {
        background-color: #3D7EAA; /* Match background for collapsible menu */
        border-radius: 10px; /* Rounded corners for collapsible menu */
        padding: 10px; /* Add padding for content */
        width: 100%; /* Ensure it takes full width */
    }

    .navbar-nav .nav-item {
        width: 100%; /* Ensure nav items take full width */
        text-align: left; /* Align text to the left */
    }
}
