{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {% trans "PS | ADMIN" %}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/admin_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/header_dropdown.css' %}"/>
{% endblock %}

{% block branding %}
    {% include "admin/components/header_dropdown.html" %}
{% endblock %}



{% block main-global %}{% endblock %}

{% include "admin/components/sidebar.html" %}


