
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/public/navbar.css' %}">
{% endblock css %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'assets/Logo/paradise_logo_2_normal.png' %}" class="img-fluid rounded" alt="Image">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core-web:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core-web:game-rules' %}">The Game Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core-web:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core-web:contact-us' %}">Contact Us</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Sports Events</a></li>
            <li><a class="dropdown-item" href="#">Tournament Updates</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Blog</a></li>
          </ul>
        </li> -->
      </ul>
      <form class="d-flex" role="login">
        <button class="btn btn-outline-success" type="button">
          <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
        </button>

      </form>
    </div>
  </div>
</nav>
