<!-- templates/public/support/thank_you.html -->
{% extends "public/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/public/support/thank-you.css' %}">
{% endblock css %}

{% block content %}
<div class="thank-you-container">
    <div class="thank-you-message">
        <h1>Thank You!</h1>
        <p>Your message has been successfully sent. We appreciate you getting in touch with us and will respond as soon as possible.</p>
        <a href="/" class="btn-primary">Return to Home</a>
    </div>
</div>
{% endblock %}
