{% extends "public/base.html" %}
{% block content %}
<!-- Section: Design Block -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>
            <form method="post" action="{% url 'core-auth:login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    <ul>
                        <li>
                            <a href="#" class="ForgetPwd">Register?</a>
                        </li>
                        <li>
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Section: Design Block -->
{% endblock content %}
