<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Betting Advice
    </a>
    <ul class="dropdown-menu">
        {% if not user.is_writer or user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'core-portal:client-feed' %}">Feed</a></li>
            <li><a class="dropdown-item" href="{% url 'core-portal:client-writer-list' %}">Writers</a></li>
        {% endif %} 
        
        {% if user.is_writer or user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'core-portal:writer-dashboard' %}">Dashboard</a></li>
        {% endif %} 

    </ul>
</li>