{% extends "portal/blog/client/components/base_portal_client.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<!-- Add any custom CSS here -->
{% endblock css %}
{% block title %}Writers{% endblock title %}

{% block content %}
<div class="container bg-white shadow-md p-5 form-layout text-center offset2">
    <h5> 🤓 Welcome to the Writers List, {{ user.username }} 🤓</h5>
    
    <!-- Sub-navigation bar -->
    <nav class="app-nav nav nav-tabs sub-nav">
        <div class="limit-width" role="list">
            <div role="listitem" class="sub-nav-item">
                <a class="nav-link {% if not subscribed_only %}active{% endif %}" href="?subscribed_only=false">
                    <svg style="height: 24px; width: 24px;" class="icon malibu-icon fill-gray" aria-hidden="true">
                        <use xlink:href="#overview-28"></use>
                    </svg>
                    <span class="sub-nav-item-name gray">All Writers</span>
                </a>
            </div>

            <div role="listitem" class="sub-nav-item">
                <a class="nav-link {% if subscribed_only %}active{% endif %}" href="?subscribed_only=true">
                    <svg style="height: 24px; width: 24px;" class="icon malibu-icon fill-gray" aria-hidden="true">
                        <use xlink:href="#team-28"></use>
                    </svg>
                    <span class="sub-nav-item-name gray">Subscribed Writers</span>
                </a>
            </div>
        </div>
    </nav>
</div>

<br>

<!-- Writers List -->
{% if writers %}
    {% for writer in writers %}
    <div class="container bg-white shadow-md p-5 form-layout rounded text-left position-relative">

        <!-- Dropdown Menu positioned in the top right corner -->
        <div class="dropdown position-absolute" style="top: 10px; right: 10px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 24px; padding: 10px;">
                ⋮
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'core-portal:client-writer-subscribe' writer.id %}">View Details</a></li>
            </ul>
        </div>

        {% if writer.avatar %}
            <img src="{{ writer.avatar.url }}" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="User Avatar">
        {% else %}
            <img src="https://robohash.org/1" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="User Avatar">
        {% endif %}
        <h3> {{ writer.first_name }} {{ writer.last_name }}</h3>

        <br><br>
        <h4> Writer Description:</h4>
        <p> {{ writer.writer_description }}</p>

        <br><br>

        <h4> Leagues Writer Primarily likes to Bet:</h4>
        {% if writer.tags.all %}
            {% for tag in writer.tags.all %}
                <p>{{ tag.name }}</p>
            {% endfor %}
        {% else %}
            <p>No Tags</p>
        {% endif %}
    

        <br>
    </div>
    {% endfor %}
{% else %}
    <div class="container bg-white shadow-md p-5 form-layout rounded text-left">
        <h6> No Writers to display</h6>
    </div>
{% endif %}

{% endblock content %}

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
