{% extends "portal/blog/client/components/base_portal_client.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/blog/client/client-writer-subscribe.css' %}">
{% endblock css %}


{% block content %}
<div class="subscription-container">
    {% if writer %}
        <div class="text-center">
            <img src="{{ writer.avatar|default:'https://robohash.org/1' }}" alt="User Avatar" class="avatar mb-3">
            <h2>{{ writer.first_name }} {{ writer.last_name }}</h2>
            <p>{{ writer.writer_description }}</p>
        </div>
        <hr>
        <div class="text-center">
            <h4>Subscribe to access exclusive content from this writer!</h4>
            <p class="subscription-price">
                {% if subscription_plan %} ${{ subscription_plan.price }} / month
                {% else %} Not available for subscription
                {% endif %}
            </p>
            {% if subscription_plan %}
                <button id="checkout-button" class="btn-subscribe">Subscribe Now</button>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-warning">The specified writer is not available.</div>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ stripe_publishable_key }}');

    document.getElementById('checkout-button').addEventListener('click', function() {
        fetch("{% url 'core-portal:create-checkout-session' writer.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(sessionId) {
            return stripe.redirectToCheckout({ sessionId: sessionId.id });
        })
        .catch(function(error) {
            console.error('Error:', error);
            alert('Unable to initiate the checkout process. Please try again later.');
        });
    });
</script>
{% endblock scripts %}
