{% extends "portal/base_portal.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/invite/invite_list.css' %}">
    <style>
        .invite-list-container {
            width: 80%;
            margin: 0 auto;
            text-align: left;
        }

        .invite-item {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .invite-item-header {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .invite-details {
            font-size: 14px;
            color: #666;
        }

        .btn-accept, .btn-decline {
            margin-top: 10px;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="invite-list-container">
    <h1>Your Invites</h1>
    {% if invites %}
        {% for invite in invites %}
            <div class="invite-item" id="invite-{{ invite.id }}">
                <div class="invite-item-header">
                    {{ invite.sender.username }} invited you to a {{ invite.get_type_display }}
                </div>
                <div class="invite-details">
                    <p>Invite Status: {{ invite.state }}</p>
                    <p>Invited On: {{ invite.invited_date }}</p>
                    <p>Type: {{ invite.get_type_display }}</p>
                </div>
                {% if invite.state == 'sent' %}
                    <button class="btn btn-success btn-accept" onclick="handleInviteAction('{{ invite.id }}', 'accept')">Accept</button>
                    <button class="btn btn-danger btn-decline" onclick="handleInviteAction('{{ invite.id }}', 'reject')">Decline</button>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No invites at the moment.</p>
    {% endif %}
</div>

<script>
    function handleInviteAction(inviteId, action) {
        const url = "{% url 'core-portal:invite-accept' 'PLACEHOLDER' %}".replace('PLACEHOLDER', inviteId);
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
            },
            body: JSON.stringify({ 'action': action })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Handle success response
            } else {
                // Handle error response
            }
        });
    }
</script>

{% endblock %}
