{% extends "public/base.html" %}
{% load static %} 
 {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/public/about.css' %}">
{% endblock css %}
{% block content %}

<div class="container about-container"></div>

<!-- About Section -->
    <section class="about-section py-5 text-center">
        <h1 class="section-title">About Us</h1>
        <p class="section-description">At PBL, we're on a mission to revolutionize the betting experience through smart technology and community engagement.</p>
    </section>


</div>
{% endblock %}