{% extends "public/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/public/home.css' %}">
{% endblock css %}

{% block content %}
<div class="container comp-container">
    <h2>Privacy Policy</h2>
    
    <section class="form-group">
        <p>
            We respect your privacy and are committed to protecting any personal information you share with us. This privacy policy outlines our practices regarding data collection and usage on our website.
        </p>

        <p><strong>Data Collection:</strong> We do not collect, store, or share any personal data for advertising or marketing purposes. We may collect basic non-personally identifiable information like your IP address for security and site functionality, but this data is not used to target ads or track your activity.</p>

        <p><strong>Cookies:</strong> Our website does not use cookies to track your browsing behavior or to serve personalized ads. We do not utilize any third-party advertising cookies or technologies that store your information for advertising purposes.</p>

        <p><strong>Third-Party Disclosure:</strong> We do not sell, trade, or share your personal information with any third parties for marketing or advertising purposes.</p>

        <p><strong>Your Rights:</strong> As we do not engage in personalized advertising or the collection of personal information for marketing, you can be assured that your privacy is protected while using our website. If you have any concerns or questions, feel free to reach out to us.</p>

        <p>If you have any questions or need further clarification, please contact us at our <a href="{% url 'core-web:contact-us' %}">support</a> page.</p>
    </section>
</div>
{% endblock content %}
