{% extends "public/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/public/home.css' %}">
{% endblock css %}

{% block content %}
<div class="container comp-container">
    <h2>Privacy Policy</h2>
    
    <section class="form-group">
        <p>
            We respect your privacy and are committed to protecting any personal information you share with us. This privacy policy outlines our practices regarding data collection and usage on our website.
        </p>

        <p><strong>Data Collection:</strong> We do not collect, store, or share any personal data for advertising or marketing purposes without your consent. We may collect basic non-personally identifiable information like your IP address for security and site functionality, but this data is not used to target ads or track your activity.</p>

        <p><strong>Cookies:</strong> Our website uses cookies to enhance user experience and analyze site traffic. We utilize Google Analytics to help us understand how users interact with our site and Google AdSense to serve ads. These services may place cookies on your device. We do not use these cookies for targeted advertising without your explicit consent. You can manage your cookie preferences through our cookie consent banner.</p>

        <p><strong>Third-Party Disclosure:</strong> We do not sell, trade, or share your personal information with any third parties for marketing or advertising purposes. We may share information with third-party services like Google Analytics and Google AdSense, but this is done under strict compliance with our privacy policy.</p>

        <p><strong>Your Rights:</strong> You have the right to accept or decline cookies when you visit our website. If you choose to decline cookies, you may still use our website, but your ability to use some features may be limited. If you have any concerns or questions regarding your privacy or our use of cookies, please feel free to reach out to us.</p>

        <p>If you have any questions or need further clarification, please contact us at our <a href="{% url 'core-web:contact-us' %}">support</a> page.</p>
    </section>
</div>
{% endblock content %}
