{% extends "public/base.html" %}
{% load static %} 

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/public/services.css' %}">
{% endblock css %}

{% block content %}

<div class="container subscription-container">

    <section class="hero-cta-section">
        <!-- <div class="hero-background">
            <img src="{% static 'assets/Images/subscription/hero-image.jpg' %}" alt="Subscription Background">
        </div> -->
        <div class="overlay">
            <h1 class="hero-title">Join Our Creator Subscription Service</h1>
            <p class="hero-subtitle">Get exclusive content and play exciting betting games!</p>
            <p class="cta-description">Support your favorite creators, enjoy special benefits, and participate in our unique betting-based game.</p>
            <button class="btn-primary pulse">Subscribe Now</button>
        </div>
    </section>



</div>

{% endblock %}