{% extends "portal/blog/writer/components/base_portal_writer.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/blog/writer/my-articles.css' %}">
{% endblock css %}

{% block title %}My Articles{% endblock title %}

{% block content %}
    <div class="articles-container">
        {% for article in articles %}
        <div class="article-card container bg-white shadow-md p-4 form-layout rounded">
            <h3>{{ article.title }}</h3>
            <h5>Event: {{ article.event }}</h5>
            <h5>Market: {{ article.outcome.market.key }}</h5>
            <h5>Outcome: {{ article.outcome.name }} - {{ article.outcome.price }} - {{ article.outcome.point }}</h5>
            <p><u>Content:</u></p>
            <div class="article-content">
                {{ article.content }}
            </div>
            <div class="article-details">
                <p>Date Created: {{ article.date_created }}</p>
                <p>Is Published: {{ article.is_published }}</p>
            </div>
            <div class="article-actions">
                <a class="btn btn-primary" href="{% url 'core-portal:writer-update-article' article.id %}">Update Article</a>
                <a class="btn btn-danger" href="{% url 'core-portal:writer-delete-article' article.id %}">Delete Article</a>
            </div>
        </div>
        {% empty %}
        <p>No articles found.</p>
        {% endfor %}
    </div>

    <!-- Pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ articles.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">next</a>
                <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
