/* Main styles shared across all pages */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3D7EAA, #FFE47A);
    margin-top: 10px;
    padding: 0;
}

.container {
    width: 100%; /* Stretch container to maximum width */
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #666;
}

.form-group input,
.form-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-group button {
    background-color: #5CACEE;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #1E90FF;
}

.form-footer {
    text-align: center;
    padding-top: 10px;
}

.form-footer a {
    color: #5CACEE;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

/* Navbar styles */
.navbar {
    background-color: #3D7EAA; /* Ocean blue */
    overflow: hidden;
    border-bottom: 3px solid #FFE47A; /* Sand yellow */
    border-radius: 15px; /* Rounded corners */
    border: 2px solid #005A9C; /* Darker ocean blue border */
    margin-bottom: 10px; /* Space below navbar */
    max-width: 1200px; /* Maximum width for the navbar */
    width: 100%;
    margin: 0 auto; /* Center the navbar horizontally */
    box-sizing: border-box;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s, text-decoration 0.3s; /* Smooth transition for hover effects */
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #1E90FF; /* Darker ocean blue */
    color: #FFE47A; /* Sand yellow text */
    font-size: 18px; /* Slightly larger text */
    text-decoration: underline; /* Underline text */
}

/* Style for the login button to match other buttons */
.btn-outline-success {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-success:hover {
    background-color: #1E90FF; /* Darker ocean blue */
    color: #FFE47A; /* Sand yellow text */
    border-color: #1E90FF;
}
