 .tournament-bracket {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .round-group {
        flex: 0 0 auto;
        width: auto;
        margin-right: 20px; /* Adjust spacing between round groups */
        display: inline-block;
        vertical-align: top;
        border: 1px solid #ccc;
        padding: 10px;
        min-width: 400px; /* Minimum width for each round group */
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow-y: auto; /* Enable vertical scrolling */
        max-height: 400px; /* Limit height for vertical scrolling */
    }

    .round-group h2 {
        margin-top: 0;
        font-size: 18px;
        background-color: #f0f0f0;
        padding: 8px;
        border-bottom: 1px solid #ccc;
        border-radius: 5px 5px 0 0;
    }

    .round {
        margin-top: 15px;
        border-top: 1px solid #eee;
        padding-top: 10px;
    }

    .match {
        margin-top: 8px;
    }

    .match p {
        margin: 0;
    }