/* Background gradient */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.register-form-1 {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Maximum width */
    min-width: 500px; /* Minimum width */
    color: #fff;
}

.register-form-1 h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* Ensure the heading color is white */
}

.form-control {
    background-color: transparent; /* Transparent form control background */
    color: black; /* Change text color to black */
    border: 1px solid black; /* Change border color to black */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-control::placeholder {
    color: black; /* Change placeholder text color to black */
}

.btnSubmit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3D7EAA; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnSubmit:hover {
    background: #FFE47A; /* Button background color on hover */
    color: black; /* Button text color on hover */
}

.link-login {
    color: #fff; /* Link color */
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.link-login:hover {
    text-decoration: underline; /* Underline on hover */
}

.list-unstyled {
    padding-left: 0;
    list-style: none; /* Remove default list styling */
}
