{% extends "portal/base_portal.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/match/my_match_detail.css' %}">
{% endblock css %}

{% block content %}
<div class="match-detail">
    <h1><strong>Match Details</strong></h1>
    <p>Match ID: {{ match.id }}</p>
    
    <!-- Player Cards -->
    <div class="player-cards">
        <div class="player-card">
            <img src="{{ match.player_1.avatar.url }}" alt="{{ match.player_1.username }}'s avatar" class="avatar">
            <h2>{{ match.player_1.username }}</h2>
            <p>Score: {{ match.player_1_score }}</p>
        </div>
        <div class="player-card">
            <img src="{{ match.player_2.avatar.url }}" alt="{{ match.player_2.username }}'s avatar" class="avatar">
            <h2>{{ match.player_2.username }}</h2>
            <p>Score: {{ match.player_2_score }}</p>
        </div>
    </div>

    <!-- Upload Button -->
    {% if is_player_in_match %}
    <button class="upload-button" onclick="openUploadPopup()">Upload A Pick</button>
    {% endif %}

    <!-- Match Information -->
    <div class="game-info">
        <h2>Match Information</h2>
        <p><strong>Start Date:</strong> {{ match.start_date }}</p>
        <p><strong>End Date:</strong> {{ match.end_date }}</p>
        <p><strong>Winner:</strong>
            {% if match.winner %}
                {{ match.winner.username }}
            {% else %}
                TBD
            {% endif %}
        </p>
    </div>

    <!-- Golden Game Section -->
    {% if match.golden_game %}
    <div class="golden-game-card" onclick="openGoldenGamePopup()">
        <h3>Golden Game</h3>
        <div class="golden-game">
            <div class="team">
                {% if match.golden_game.event.home_team.logo_url %}
                    <img src="{{ match.golden_game.event.home_team.logo_url }}" alt="{{ match.golden_game.event.home_team }}">
                {% endif %}
                <h4>{{ match.golden_game.event.home_team }}</h4>
                <p><strong>Sport:</strong> {{ match.golden_game.event.sport_title }}</p>
            </div>

            <div class="team">
                {% if match.golden_game.event.away_team.logo_url %}
                    <img src="{{ match.golden_game.event.away_team.logo_url }}" alt="{{ match.golden_game.event.away_team }}">
                {% endif %}
                <h4>{{ match.golden_game.event.away_team }}</h4>
                <p><strong>Sport:</strong> {{ match.golden_game.event.sport_title }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Player 1 and 2 Games -->
    <div class="player-games-container">
        <div class="player-games">
            <h3>Player 1 Games</h3>
            {% for game in player_1_games %}
            <div class="small-game-event">
                <p>{{ game.name }}</p>
                <button onclick="openSmallGameEventPopup({{ game.id }})">View Details</button>
            </div>
            {% endfor %}
        </div>

        <div class="player-games">
            <h3>Player 2 Games</h3>
            {% for game in player_2_games %}
            <div class="small-game-event">
                <p>{{ game.name }}</p>
                <button onclick="openSmallGameEventPopup({{ game.id }})">View Details</button>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Event Popup -->
    <div id="event-popup" style="display: none;">
        <!-- Add dynamic event content here -->
    </div>

    <!-- Golden Game Popup -->
    <div id="golden-game-popup" style="display: none;">
        <!-- Add dynamic golden game content here -->
    </div>

    <!-- Small Game Event Popup -->
    <div id="small-game-event-popup" style="display: none;">
        <!-- Add dynamic small game event content here -->
    </div>

    <!-- Upload Popup -->
    <div id="upload-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeUploadPopup()">&times;</span>
            <h2>Upload Your Pick</h2>
            <hr class="divider">
            <div class="upload-flex-container">
                <div id="event-list">
                    {% if available_events %}
                        {% for event in available_events %}
                            <button class="event-card" data-event-id="{{ event.id }}" data-event="{{ event }}" 
                                data-bookmakers='{{ event.bookmakers.all}}'> <!-- Store the bookmakers in data-bookmakers -->
                        
                                <div class="team">
                                    <img src="{{ event.home_team_team.logo_url }}" alt="{{ event.home_team_team.name }}">
                                    <h4>{{ event.home_team_team.team_name }}</h4>
                                </div>
                                <div class="vs-text">
                                    <h4>Vs</h4>
                                </div>
                                <div class="team">
                                    <img src="{{ event.away_team_team.logo_url }}" alt="{{ event.away_team_team.name }}">
                                    <h4>{{ event.away_team_team.team_name }}</h4>
                                </div>
                        
                                <div class="event-body">
                                    <p><strong>Sport:</strong> {{ event.sport_title }}</p>
                                    <p><strong>Description:</strong> {{ event.description }}</p>
                                    <p><strong>Commence Time:</strong> {{ event.commence_time }}</p>
                                </div>
                            </button>
                        {% endfor %}
                    
                    {% else %}
                        <p class="no-events-message">No events available for this match period.</p>
                    {% endif %}
                </div>
                <div class="bookmakers-section" id="bookmakers-section" style="display: True;">
                    <h2>Bookmakers</h2>
                    {% if selected_event %}

                                {% if selected_event.bookmakers.all %}
                                    {% for bookmaker in selected_event.bookmakers.all %}
                                        <div class="bookmaker">
                                            <h3>{{ bookmaker.title }}</h3>
                                            {% for market in bookmaker.markets.all %}
                                            <div class="market" data-key="{{ market.key }}">
                                                <h4 class="market-title">{{ market.title }}</h4>
                                                <ul>
                                                    {% for outcome in market.outcomes.all %}
                                                        <li class="outcome">
                                                            <div class="outcome-name-container">
                                                                <span class="outcome-name">{{ outcome.name }}</span>
                                                            </div>
                                                            <div class="point-container">
                                                                <span class="point">{{ outcome.point }}</span>
                                                            </div>
                                                            <div class="price-container">
                                                                <span class="price">{{ outcome.price }}</span>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No bookmakers found for this event.</p>
                                {% endif %}

                    {% else %}
                        <p>No available Bookmakers for Event.</p>
                    {% endif %}
                </div>
            </div>
            <hr class="divider">
            <form id="upload-form" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    let selected_event = null; // Add selected_event variable

    function openPopup() {
        document.getElementById("event-popup").style.display = "block";
    }

    function openGoldenGamePopup() {
        document.getElementById("golden-game-popup").style.display = "block";
    }

    function openSmallGameEventPopup(gameId) {
        document.getElementById("small-game-event-popup").style.display = "block";
    }

    function openUploadPopup() {
        document.getElementById("upload-popup").style.display = "block";
    }

    function closeUploadPopup() {
        document.getElementById("upload-popup").style.display = "none";
    }

    // Close the popup if the user clicks outside of it
    window.onclick = function(event) {
        var popup = document.getElementById("upload-popup");
        if (event.target == popup) {
            popup.style.display = "none";
        }
    }

    // Handle event card click
    document.querySelectorAll('.event-card').forEach(card => {
        card.addEventListener('click', function() {
            const eventId = this.getAttribute('data-event-id');
            const event = this.getAttribute('data-event');
            const bookmakers = document.getElementById('data-bookmakers');

            selected_event = event; // Populate selected_event
            console.log('Selected Event Bookmakers:', selected_event);
            // Hide other events
            document.querySelectorAll('.event-card').forEach(otherCard => {
                if (otherCard !== this) {
                    otherCard.style.display = 'none';  // Hide other events
                }
            });

            // Highlight the selected event
            this.classList.add('selected');

           displayMarketsAndOutcomes(selected_event.bookmakers);
        });
    });

    function displayMarketsAndOutcomes(data) {
        const bookmakersSection = document.getElementById('bookmakers-section');
        bookmakersSection.innerHTML = '';  // Clear any previous content
        console.log(data);
        if (data.bookmakers && data.bookmakers.length > 0) {
            data.bookmakers.forEach(bookmaker => {
                const bookmakerDiv = document.createElement('div');
                bookmakerDiv.classList.add('bookmaker');

                const bookmakerTitle = document.createElement('h3');
                bookmakerTitle.textContent = bookmaker.title;
                bookmakerDiv.appendChild(bookmakerTitle);

                bookmaker.markets.forEach(market => {
                    const marketDiv = document.createElement('div');
                    marketDiv.classList.add('market');
                    marketDiv.setAttribute('data-key', market.key);

                    const marketTitle = document.createElement('h4');
                    marketTitle.classList.add('market-title');
                    marketTitle.textContent = market.title;
                    marketDiv.appendChild(marketTitle);

                    const outcomeList = document.createElement('ul');
                    market.outcomes.forEach(outcome => {
                        const outcomeItem = document.createElement('li');
                        outcomeItem.classList.add('outcome');

                        const outcomeNameContainer = document.createElement('div');
                        outcomeNameContainer.classList.add('outcome-name-container');
                        const outcomeName = document.createElement('span');
                        outcomeName.classList.add('outcome-name');
                        outcomeName.textContent = outcome.name;
                        outcomeNameContainer.appendChild(outcomeName);

                        const pointContainer = document.createElement('div');
                        pointContainer.classList.add('point-container');
                        const point = document.createElement('span');
                        point.classList.add('point');
                        point.textContent = outcome.point;
                        pointContainer.appendChild(point);

                        const priceContainer = document.createElement('div');
                        priceContainer.classList.add('price-container');
                        const price = document.createElement('span');
                        price.classList.add('price');
                        price.textContent = outcome.price;
                        priceContainer.appendChild(price);

                        outcomeItem.appendChild(outcomeNameContainer);
                        outcomeItem.appendChild(pointContainer);
                        outcomeItem.appendChild(priceContainer);
                        outcomeList.appendChild(outcomeItem);
                    });

                    marketDiv.appendChild(outcomeList);
                    bookmakerDiv.appendChild(marketDiv);
                });

                bookmakersSection.appendChild(bookmakerDiv);
            });
        } else {
            const noBookmakersMessage = document.createElement('p');
            noBookmakersMessage.textContent = 'No bookmakers found for this event.';
            bookmakersSection.appendChild(noBookmakersMessage);
        }

        // Show the container after populating it
        bookmakersSection.style.display = 'block';
    }

    // Handle form submission
    document.getElementById("upload-form").onsubmit = function(e) {
        e.preventDefault();
        // Add your AJAX code here to handle the file upload
        // For example:
        // var formData = new FormData(this);
        // fetch('/upload-pick-url/', {method: 'POST', body: formData})
        //     .then(response => response.json())
        //     .then(data => {
        //         if (data.success) {
        //             alert('Pick uploaded successfully!');
        //             closeUploadPopup();
        //         } else {
        //             alert('Error uploading pick: ' + data.error);
        //         }
        //     });
    }
</script>
{% endblock %}

