{% extends "portal/base_portal.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal/match/my_match_detail.css' %}">
    <style>
        .bookmaker {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            padding: 10px;
        }
        .market {
            margin-top: 10px;
        }
        .market-title {
            font-weight: bold;
        }
        .outcome {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            cursor: pointer;
        }
        .outcome:hover {
            background-color: #f0f0f0;
        }
        .outcome.selected {
            background-color: #e0e0e0;
            font-weight: bold;
        }
        .no-bookmakers {
            text-align: center;
            padding: 20px;
            font-style: italic;
            color: #666;
        }
        .bet-info {
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-top: 10px;
        }
        .bet-info h4 {
            margin-bottom: 5px;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="match-detail">
    <h1><strong>Match Details</strong></h1>
    <p>Match ID: {{ match.id }}</p>
    
    <!-- Player Cards -->
    <div class="player-cards">
        <div class="player-card">
            <img src="{{ match.player_1.avatar.url }}" alt="{{ match.player_1.username }}'s avatar" class="avatar">
            <h2>{{ match.player_1.username }}</h2>
            <p>Score: {{ match.player_1_score }}</p>
        </div>
        <div class="player-card">
            <img src="{{ match.player_2.avatar.url }}" alt="{{ match.player_2.username }}'s avatar" class="avatar">
            <h2>{{ match.player_2.username }}</h2>
            <p>Score: {{ match.player_2_score }}</p>
        </div>
    </div>

    <!-- Upload Button -->
    {% if is_player_in_match %}
    <button class="upload-button" onclick="openUploadPopup()">Upload A Pick</button>
    {% endif %}

    <!-- Match Information -->
    <div class="game-info">
        <h2>Match Information</h2>
        <p><strong>Start Date:</strong> {{ match.start_date }}</p>
        <p><strong>End Date:</strong> {{ match.end_date }}</p>
        <p><strong>Winner:</strong>
            {% if match.winner %}
                {{ match.winner.username }}
            {% else %}
                TBD
            {% endif %}
        </p>
    </div>

    <!-- Golden Game Section -->
    {% if match.golden_game %}
    <div class="golden-game-card" onclick="openGoldenGamePopup()">
        <h3>Golden Game</h3>
        <div class="golden-game">
            <div class="team">
                {% if match.golden_game.event.home_team_team.logo_url %}
                    <img src="{{ match.golden_game.event.home_team_team.logo_url.url }}" alt="{{ match.golden_game.event.home_team_team }}">
                {% else %}
                    <h4>{{ match.golden_game.event.home_team_team }}</h4>
                {% endif %}
                <p><strong>Sport:</strong> {{ match.golden_game.event.sport_title }}</p>
            </div>

            <div class="team">
                {% if match.golden_game.event.away_team_team.logo_url %}
                    <img src="{{ match.golden_game.event.away_team_team.logo_url.url }}" alt="{{ match.golden_game.event.away_team_team }}">
                {% else %}
                    <h4>{{ match.golden_game.event.away_team_team }}</h4>
                {% endif %}
                <p><strong>Sport:</strong> {{ match.golden_game.event.sport_title }}</p>
            </div>

            <div class="bet-info">
                <h4>Bet Details:</h4>
                <p><strong>Market:</strong> 
                    {% if match.golden_game.bet.market.key == 'h2h' %}
                        Head to Head
                    {% elif match.golden_game.bet.market.key == 'spreads' %}
                        Spread
                    {% elif match.golden_game.bet.market.key == 'totals' %}
                        Totals
                    {% else %}
                        {{ match.golden_game.bet.market.key }}
                    {% endif %}
                </p>
                <p><strong>{{ match.golden_game.owner.username }}'s Selection:</strong> {{ match.golden_game.bet.owner_outcome}}</p>
                <p><strong>{{ match.golden_game.player_2.username }}'s Selection:</strong> {{ match.golden_game.bet.player_2_outcome}}</p>

                <p><strong>Status:</strong> 
                    {% if match.golden_game_completed %}
                        Completed
                    {% else %}
                        Pending
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Player 1 and 2 Games -->
    <div class="player-games-container">
        <div class="player-games">
            <h3>Player 1 Games</h3>
            {% if match.player_1_game_1.event %}
                <div class="small-game-event">
                    <div class="golden-game">
                        <div class="team">
                            {% if match.player_1_game_1.event.home_team_team.logo_url %}
                                <img src="{{ match.player_1_game_1.event.home_team_team.logo_url.url }}" alt="{{ match.player_1_game_1.event.home_team }}">
                            {% else %}
                                <h4>{{ match.player_1_game_1.event.home_team }}</h4>
                            {% endif %}
                            <p><strong>Sport:</strong> {{ match.player_1_game_1.event.sport_title }}</p>
                        </div>
            
                        <div class="team">
                            {% if match.player_1_game_1.event.away_team_team.logo_url %}
                                <img src="{{ match.player_1_game_1.event.away_team_team.logo_url.url }}" alt="{{ match.player_1_game_1.event.away_team }}">
                            {% else %}
                                <h4>{{ match.player_1_game_1.event.away_team }}</h4>
                            {% endif %}
                            <p><strong>Sport:</strong> {{ match.player_1_game_1.event.sport_title }}</p>
                        </div>
                    </div>
                    
                    <!-- Bet Information -->
                    <div class="bet-info">
                        <h4>Bet Details:</h4>
                        <p><strong>Market:</strong> 
                            {% if match.player_1_game_1.bet.market.key == 'h2h' %}
                                Head to Head
                            {% elif match.player_1_game_1.bet.market.key == 'spreads' %}
                                Spread
                            {% elif match.player_1_game_1.bet.market.key == 'totals' %}
                                Totals
                            {% else %}
                                {{ match.player_1_game_1.bet.market.key }}
                            {% endif %}
                        </p>
                        <p><strong>{{ match.player_1_game_1.owner.username }}'s Selection:</strong> {{ match.player_1_game_1.bet.owner_outcome}}</p>
                        <p><strong>{{ match.player_1_game_1.player_2.username }}'s Selection:</strong> {{ match.player_1_game_1.bet.player_2_outcome}}</p>

                        <p><strong>Status:</strong> 
                            {% if match.player_1_game_1_completed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% else %}
                <p>No pick for Game 1</p>
            {% endif %}
            {% if match.player_1_game_2.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_1_game_2.event.home_team_team.logo_url %}
                            <img src="{{ match.player_1_game_2.event.home_team_team.logo_url.url }}" alt="{{ match.player_1_game_2.event.home_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_2.event.home_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_2.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_1_game_2.event.away_team_team.logo_url %}
                            <img src="{{ match.player_1_game_2.event.away_team_team.logo_url.url }}" alt="{{ match.player_1_game_2.event.away_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_2.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_2.event.sport_title }}</p>
                    </div>
                </div>
                
                    <!-- Bet Information -->
                    <div class="bet-info">
                        <h4>Bet Details:</h4>
                        <p><strong>Market:</strong> 
                            {% if match.player_1_game_2.bet.market.key == 'h2h' %}
                                Head to Head
                            {% elif match.player_1_game_2.bet.market.key == 'spreads' %}
                                Spread
                            {% elif match.player_1_game_2.bet.market.key == 'totals' %}
                                Totals
                            {% else %}
                                {{ match.player_1_game_2.bet.market.key }}
                            {% endif %}
                        </p>
                        <p><strong>{{ match.player_1_game_2.owner.username }}'s Selection:</strong> {{ match.player_1_game_2.bet.owner_outcome}}</p>
                        <p><strong>{{ match.player_1_game_2.player_2.username }}'s Selection:</strong> {{ match.player_1_game_2.bet.player_2_outcome}}</p>

                        <p><strong>Status:</strong> 
                            {% if match.player_1_game_2_completed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        </p>
                    </div>
            </div>
            {% else %}
                <p>No pick for Game 2</p>
            {% endif %}
            {% if match.player_1_game_3.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_1_game_3.event.home_team_team.logo_url %}
                            <img src="{{ match.player_1_game_3.event.home_team_team.logo_url.url }}" alt="{{ match.player_1_game_3.event.home_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_3.event.home_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_3.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_1_game_3.event.away_team_team.logo_url %}
                            <img src="{{ match.player_1_game_3.event.away_team_team.logo_url.url }}" alt="{{ match.player_1_game_3.event.away_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_3.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_3.event.sport_title }}</p>
                    </div>
                </div>
                
                <!-- Bet Information -->
                    <!-- Bet Information -->
                    <div class="bet-info">
                        <h4>Bet Details:</h4>
                        <p><strong>Market:</strong> 
                            {% if match.player_1_game_3.bet.market.key == 'h2h' %}
                                Head to Head
                            {% elif match.player_1_game_3.bet.market.key == 'spreads' %}
                                Spread
                            {% elif match.player_1_game_3.bet.market.key == 'totals' %}
                                Totals
                            {% else %}
                                {{ match.player_1_game_3.bet.market.key }}
                            {% endif %}
                        </p>
                        <p><strong>{{ match.player_1_game_3.owner.username }}'s Selection:</strong> {{ match.player_1_game_3.bet.owner_outcome}}</p>
                        <p><strong>{{ match.player_1_game_3.player_2.username }}'s Selection:</strong> {{ match.player_1_game_3.bet.player_2_outcome}}</p>

                        <p><strong>Status:</strong> 
                            {% if match.player_1_game_3_completed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        </p>
                    </div>
            </div>
            {% else %}
                <p>No pick for Game 3</p>
            {% endif %}
            {% if match.player_1_game_4.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_1_game_4.event.home_team_team.logo_url %}
                            <img src="{{ match.player_1_game_4.event.home_team_team.logo_url.url }}" alt="{{ match.player_1_game_4.event.home_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_4.event.home_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_4.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_1_game_4.event.away_team_team.logo_url %}
                            <img src="{{ match.player_1_game_4.event.away_team_team.logo_url.url }}" alt="{{ match.player_1_game_4.event.away_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_4.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_4.event.sport_title }}</p>
                    </div>
                </div>
                
                <!-- Bet Information -->
                    <!-- Bet Information -->
                    <div class="bet-info">
                        <h4>Bet Details:</h4>
                        <p><strong>Market:</strong> 
                            {% if match.player_1_game_4.bet.market.key == 'h2h' %}
                                Head to Head
                            {% elif match.player_1_game_4.bet.market.key == 'spreads' %}
                                Spread
                            {% elif match.player_1_game_4.bet.market.key == 'totals' %}
                                Totals
                            {% else %}
                                {{ match.player_1_game_4.bet.market.key }}
                            {% endif %}
                        </p>
                        <p><strong>{{ match.player_1_game_4.owner.username }}'s Selection:</strong> {{ match.player_1_game_4.bet.owner_outcome}}</p>
                        <p><strong>{{ match.player_1_game_4.player_2.username }}'s Selection:</strong> {{ match.player_1_game_4.bet.player_2_outcome}}</p>

                        <p><strong>Status:</strong> 
                            {% if match.player_1_game_4_completed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        </p>
                    </div>
            </div>
            {% else %}
                <p>No pick for Game 4</p>
            {% endif %}
            {% if match.player_1_game_5.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_1_game_5.event.home_team_team.logo_url %}
                            <img src="{{ match.player_1_game_5.event.home_team_team.logo_url.url }}" alt="{{ match.player_1_game_5.event.home_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_5.event.home_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_5.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_1_game_5.event.away_team_team.logo_url %}
                            <img src="{{ match.player_1_game_5.event.away_team_team.logo_url.url }}" alt="{{ match.player_1_game_5.event.away_team }}">
                        {% else %}
                            <h4>{{ match.player_1_game_5.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_1_game_5.event.sport_title }}</p>
                    </div>
                </div>
                
                    <!-- Bet Information -->
                    <div class="bet-info">
                        <h4>Bet Details:</h4>
                        <p><strong>Market:</strong> 
                            {% if match.player_1_game_5.bet.market.key == 'h2h' %}
                                Head to Head
                            {% elif match.player_1_game_5.bet.market.key == 'spreads' %}
                                Spread
                            {% elif match.player_1_game_5.bet.market.key == 'totals' %}
                                Totals
                            {% else %}
                                {{ match.player_1_game_5.bet.market.key }}
                            {% endif %}
                        </p>
                        <p><strong>{{ match.player_1_game_5.owner.username }}'s Selection:</strong> {{ match.player_1_game_5.bet.owner_outcome}}</p>
                        <p><strong>{{ match.player_1_game_5.player_2.username }}'s Selection:</strong> {{ match.player_1_game_5.bet.player_2_outcome}}</p>

                        <p><strong>Status:</strong> 
                            {% if match.player_1_game_5_completed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        </p>
                    </div>
            </div>
            {% else %}
                <p>No pick for Game 5</p>
            {% endif %}
        </div>
        <div class="player-games">
            <h3>Player 2 Games</h3>
            {% if match.player_2_game_1.event %}
                <div class="small-game-event">
                    <div class="golden-game">
                        <div class="team">
                            {% if match.player_2_game_1.event.home_team_team.logo_url %}
                                <img src="{{ match.player_2_game_1.event.home_team_team.logo_url.url }}" alt="{{ match.player_2_game_1.event.home_team_team }}">
                            {% else %}
                                <h4>{{ match.player_2_game_1.event.home_team }}</h4>
                            {% endif %}
                            <p><strong>Sport:</strong> {{ match.player_2_game_1.event.sport_title }}</p>
                        </div>
            
                        <div class="team">
                            {% if match.player_2_game_1.event.away_team_team.logo_url %}
                                <img src="{{ match.player_2_game_1.event.away_team_team.logo_url.url }}" alt="{{ match.player_2_game_1.event.away_team_team }}">
                            {% else %}
                                <h4>{{ match.player_2_game_1.event.away_team_team }}</h4>
                            {% endif %}
                            <p><strong>Sport:</strong> {{ match.player_2_game_1.event.sport_title }}</p>
                        </div>
                    </div>
                    
                    <!-- Bet Information -->
                    <div class="bet-info">
                        <h4>Bet Details:</h4>
                        <p><strong>Market:</strong> 
                            {% if match.player_2_game_1.bet.market.key == 'h2h' %}
                                Head to Head
                            {% elif match.player_2_game_1.bet.market.key == 'spreads' %}
                                Spread
                            {% elif match.player_2_game_1.bet.market.key == 'totals' %}
                                Totals
                            {% else %}
                                {{ match.player_2_game_1.bet.market.key }}
                            {% endif %}
                        </p>
                        <p><strong>{{ match.player_2_game_1.owner.username }}'s Selection:</strong> {{ match.player_2_game_1.bet.owner_outcome}}</p>
                        <p><strong>{{ match.player_2_game_1.player_2.username }}'s Selection:</strong> {{ match.player_2_game_1.bet.player_2_outcome}}</p>

                        <p><strong>Status:</strong> 
                            {% if match.player_2_game_1_completed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% else %}
                <p>No pick for Game 1</p>
            {% endif %}
            {% if match.player_2_game_2.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_2_game_2.event.home_team_team.logo_url %}
                            <img src="{{ match.player_2_game_2.event.home_team_team.logo_url.url }}" alt="{{ match.player_2_game_2.event.home_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_2.event.home_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_2.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_2_game_2.event.away_team_team.logo_url %}
                            <img src="{{ match.player_2_game_2.event.away_team_team.logo_url.url }}" alt="{{ match.player_2_game_2.event.away_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_2.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_2.event.sport_title }}</p>
                    </div>
                </div>
                
                <!-- Bet Information -->
                <div class="bet-info">
                    <h4>Bet Details:</h4>
                    <p><strong>Market:</strong> 
                        {% if match.player_2_game_2.bet.market.key == 'h2h' %}
                            Head to Head
                        {% elif match.player_2_game_2.bet.market.key == 'spreads' %}
                            Spread
                        {% elif match.player_2_game_2.bet.market.key == 'totals' %}
                            Totals
                        {% else %}
                            {{ match.player_2_game_2.bet.market.key }}
                        {% endif %}
                    </p>
                    <p><strong>{{ match.player_2_game_2.owner.username }}'s Selection:</strong> {{ match.player_2_game_2.bet.owner_outcome}}</p>
                    <p><strong>{{ match.player_2_game_2.player_2.username }}'s Selection:</strong> {{ match.player_2_game_2.bet.player_2_outcome}}</p>

                    <p><strong>Status:</strong> 
                        {% if match.player_2_game_2_completed %}
                            Completed
                        {% else %}
                            Pending
                        {% endif %}
                    </p>
                </div>
            </div>
            {% else %}
                <p>No pick for Game 2</p>
            {% endif %}
            {% if match.player_2_game_3.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_2_game_3.event.home_team_team.logo_url %}
                            <img src="{{ match.player_2_game_3.event.home_team_team.logo_url.url }}" alt="{{ match.player_2_game_3.event.home_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_3.event.home_team}}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_3.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_2_game_3.event.away_team_team.logo_url %}
                            <img src="{{ match.player_2_game_3.event.away_team_team.logo_url.url }}" alt="{{ match.player_2_game_3.event.away_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_3.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_3.event.sport_title }}</p>
                    </div>
                </div>
                
                <!-- Bet Information -->
                <div class="bet-info">
                    <h4>Bet Details:</h4>
                    <p><strong>Market:</strong> 
                        {% if match.player_2_game_3.bet.market.key == 'h2h' %}
                            Head to Head
                        {% elif match.player_2_game_3.bet.market.key == 'spreads' %}
                            Spread
                        {% elif match.player_2_game_3.bet.market.key == 'totals' %}
                            Totals
                        {% else %}
                            {{ match.player_2_game_3.bet.market.key }}
                        {% endif %}
                    </p>
                    <p><strong>{{ match.player_2_game_3.owner.username }}'s Selection:</strong> {{ match.player_2_game_3.bet.owner_outcome}}</p>
                    <p><strong>{{ match.player_2_game_3.player_2.username }}'s Selection:</strong> {{ match.player_2_game_3.bet.player_2_outcome}}</p>

                    <p><strong>Status:</strong> 
                        {% if match.player_2_game_3_completed %}
                            Completed
                        {% else %}
                            Pending
                        {% endif %}
                    </p>
                </div>
            </div>
            {% else %}
                <p>No pick for Game 3</p>
            {% endif %}
            {% if match.player_2_game_4.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_2_game_4.event.home_team_team.logo_url %}
                            <img src="{{ match.player_2_game_4.event.home_team_team.logo_url.url }}" alt="{{ match.player_2_game_4.event.home_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_4.event.home_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_4.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_2_game_4.event.away_team_team.logo_url %}
                            <img src="{{ match.player_2_game_4.event.away_team_team.logo_url.url }}" alt="{{ match.player_2_game_4.event.away_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_4.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_4.event.sport_title }}</p>
                    </div>
                </div>
                
                <!-- Bet Information -->
                <div class="bet-info">
                    <h4>Bet Details:</h4>
                    <p><strong>Market:</strong> 
                        {% if match.player_2_game_4.bet.market.key == 'h2h' %}
                            Head to Head
                        {% elif match.player_2_game_4.bet.market.key == 'spreads' %}
                            Spread
                        {% elif match.player_2_game_4.bet.market.key == 'totals' %}
                            Totals
                        {% else %}
                            {{ match.player_2_game_4.bet.market.key }}
                        {% endif %}
                    </p>
                    <p><strong>{{ match.player_2_game_4.owner.username }}'s Selection:</strong> {{ match.player_2_game_4.bet.owner_outcome}}</p>
                    <p><strong>{{ match.player_2_game_4.player_2.username }}'s Selection:</strong> {{ match.player_2_game_4.bet.player_2_outcome}}</p>

                    <p><strong>Status:</strong> 
                        {% if match.player_2_game_4_completed %}
                            Completed
                        {% else %}
                            Pending
                        {% endif %}
                    </p>
                </div>
            </div>
            {% else %}
                <p>No pick for Game 4</p>
            {% endif %}
            {% if match.player_2_game_5.event %}
            <div class="small-game-event">
                <div class="golden-game">
                    <div class="team">
                        {% if match.player_2_game_5.event.home_team_team.logo_url %}
                            <img src="{{ match.player_2_game_5.event.home_team_team.logo_url.url }}" alt="{{ match.player_2_game_5.event.home_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_5.event.home_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_5.event.sport_title }}</p>
                    </div>
        
                    <div class="team">
                        {% if match.player_2_game_5.event.away_team_team.logo_url %}
                            <img src="{{ match.player_2_game_5.event.away_team_team.logo_url.url }}" alt="{{ match.player_2_game_5.event.away_team_team }}">
                        {% else %}
                            <h4>{{ match.player_2_game_5.event.away_team }}</h4>
                        {% endif %}
                        <p><strong>Sport:</strong> {{ match.player_2_game_5.event.sport_title }}</p>
                    </div>
                </div>
                
                <!-- Bet Information -->
                <div class="bet-info">
                    <h4>Bet Details:</h4>
                    <p><strong>Market:</strong> 
                        {% if match.player_2_game_5.bet.market.key == 'h2h' %}
                            Head to Head
                        {% elif match.player_2_game_5.bet.market.key == 'spreads' %}
                            Spread
                        {% elif match.player_2_game_5.bet.market.key == 'totals' %}
                            Totals
                        {% else %}
                            {{ match.player_2_game_5.bet.market.key }}
                        {% endif %}
                    </p>
                    <p><strong>{{ match.player_2_game_5.owner.username }}'s Selection:</strong> {{ match.player_2_game_5.bet.owner_outcome}}</p>
                    <p><strong>{{ match.player_2_game_5.player_2.username }}'s Selection:</strong> {{ match.player_2_game_5.bet.player_2_outcome}}</p>

                    <p><strong>Status:</strong> 
                        {% if match.player_2_game_5_completed %}
                            Completed
                        {% else %}
                            Pending
                        {% endif %}
                    </p>
                </div>
            </div>
            {% else %}
                <p>No pick for Game 5</p>
            {% endif %}
        </div>
    </div>


    <!-- Event Popup -->
    <div id="event-popup" style="display: none;">
        <!-- Add dynamic event content here -->
    </div>

    <!-- Golden Game Popup -->
    <div id="golden-game-popup" style="display: none;">
        <!-- Add dynamic golden game content here -->
    </div>

    <!-- Small Game Event Popup -->
    <div id="small-game-event-popup" style="display: none;">
        <!-- Add dynamic small game event content here -->
    </div>

    <!-- Upload Popup -->
    <div id="upload-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeUploadPopup()">&times;</span>
            <h2>Upload Your Pick</h2>
            <hr class="divider">

                <div id="event-list">
                    {% if available_events %}
                        {% for event in available_events %}
                            <div class="event-container">
                                <button class="event-card" data-event-id="{{ event.id }}">
                                    <div class="event-info">
                                        <div class="team">
                                            <img src="{{ event.home_team_team.logo_url }}" alt="{{ event.home_team_team.name }}">
                                            <h4>{{ event.home_team_team.team_name }}</h4>
                                        </div>
                                        <div class="vs-text">
                                            <h4>Vs</h4>
                                        </div>
                                        <div class="team">
                                            <img src="{{ event.away_team_team.logo_url }}" alt="{{ event.away_team_team.name }}">
                                            <h4>{{ event.away_team_team.team_name }}</h4>
                                        </div>
                        
                                        <div class="event-body">
                                            <p><strong>Sport:</strong> {{ event.sport_title }}</p>
                                            <p><strong>Description:</strong> {{ event.description }}</p>
                                            <p><strong>Commence Time:</strong> {{ event.commence_time }}</p>
                                        </div>
                                    </div>
                                </button>

                                <div class="bookmakers-section" id="bookmakers-section-{{ event.id }}">
                                    <h2>Bookmakers</h2>
                                    <div class="bookmakers-container">
                                        <!-- Bookmakers will be loaded dynamically here -->
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    
                    {% else %}
                        <p class="no-events-message">No events available for this match period.</p>
                    {% endif %}
                </div>
                

            <hr class="divider">
            <form id="upload-form" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    let selected_event = null;
    let selected_outcome = null;

    document.querySelectorAll('.event-card').forEach(card => {
        card.addEventListener('click', function() {
            const eventId = this.dataset.eventId;
            selected_event = eventId;
            selected_outcome = null; // Reset selected outcome when a new event is selected
            const selectedEventContainer = this.closest('.event-container');
            const selectedBookmakerSection = document.getElementById(`bookmakers-section-${eventId}`);
            
            // Hide all event containers except the selected one
            document.querySelectorAll('.event-container').forEach(container => {
                if (container !== selectedEventContainer) {
                    container.style.display = 'none';
                }
            });

            // Show the selected event container
            selectedEventContainer.style.display = 'block';

            // Hide all bookmaker sections
            document.querySelectorAll('.bookmakers-section').forEach(section => {
                section.style.display = 'none';
            });

            // Show the selected bookmaker section
            selectedBookmakerSection.style.display = 'block';

            // Deselect all event cards
            document.querySelectorAll('.event-card').forEach(otherCard => {
                otherCard.classList.remove('selected');
            });

            // Select the clicked event card
            this.classList.add('selected');

            // Show the back button
            document.getElementById('back-to-events').style.display = 'block';

            // Fetch and display bookmakers for the selected event
            fetchBookmakers(eventId);

            console.log('Selected Event ID:', selected_event);
        });
    });

    function fetchBookmakers(eventId) {
        console.log('Fetching bookmakers for event:', eventId);
        
        // Convert eventId to UUID format
        const uuidEventId = convertToUUID(eventId);
        
        const url = `{% url "core-portal:portal-match-event-outcomes" "00000000-0000-0000-0000-000000000000" %}`.replace('00000000-0000-0000-0000-000000000000', uuidEventId);
        
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            console.log('Response received:', response);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {


            const bookmakerContainer = document.querySelector(`#bookmakers-section-${eventId} .bookmakers-container`);
            const bookmakers=data.event_bookmakers.bookmakers;
            
            if (!bookmakers || bookmakers.length === 0) {
                bookmakerContainer.innerHTML = '<p class="no-bookmakers">No Bookmakers</p>';
                return;
            }


            bookmakers.forEach(bookmaker => {
                const bookmakerElement = document.createElement('div');
                bookmakerElement.className = 'bookmaker';
                bookmakerElement.innerHTML = `
                    <h3>${bookmaker.title}</h3>
                    ${bookmaker.markets.map(market => `
                        <div class="market" data-key="${market.key}">
                            <h4 class="market-title">
                                ${market.key === 'h2h' ? 'Head 2 Head' :
                                  market.key === 'totals' ? 'Over / Under' :
                                  market.key === 'spreads' ? 'Spreads' :
                                  market.title}
                            </h4>
                            <ul>
                                ${market.outcomes.map(outcome => `
                                    <li class="outcome" data-outcome-id="${outcome.id}">
                                        <span class="outcome-name">${outcome.name}</span>
                                        <span class="point">${outcome.point || ''}</span>
                                        <span class="price">${outcome.price}</span>
                                    </li>
                                `).join('')}
                            </ul>
                        </div>
                    `).join('')}
                `;
                bookmakerContainer.appendChild(bookmakerElement);
            });

            // Add event listeners to the newly created outcomes
            addOutcomeEventListeners();
        })
        .catch(error => {
            console.error('Error in fetchBookmakers:', error);
            const bookmakerContainer = document.querySelector(`#bookmakers-section-${eventId} .bookmakers-container`);
            if (bookmakerContainer) {
                bookmakerContainer.innerHTML = `<p class="error-message">Error loading bookmakers: ${error.message}. Please try again.</p>`;
            } else {
                console.error(`Bookmaker container not found for event ${eventId} during error handling`);
            }
        });
    }

    function convertToUUID(id) {
        // Remove any non-hexadecimal characters
        id = id.replace(/[^0-9a-f]/gi, '');
        
        // Pad the string to ensure it's long enough
        while (id.length < 32) {
            id += '0';
        }
        
        // Insert hyphens to create UUID format
        return id.substr(0,8) + '-' + id.substr(8,4) + '-' + id.substr(12,4) + '-' + id.substr(16,4) + '-' + id.substr(20);
    }

    function addOutcomeEventListeners() {
        document.querySelectorAll('.outcome').forEach(outcome => {
            outcome.addEventListener('click', function() {
                const outcomeId = this.dataset.outcomeId;
                selected_outcome = outcomeId;

                // Deselect all outcomes
                document.querySelectorAll('.outcome').forEach(otherOutcome => {
                    otherOutcome.classList.remove('selected');
                });

                // Select the clicked outcome
                this.classList.add('selected');

                console.log('Selected Outcome ID:', selected_outcome);
            });
        });
    }

    // Add a "Back" button to return to the list of events
    const backButton = document.createElement('button');
    backButton.textContent = 'Back to All Events';
    backButton.id = 'back-to-events';
    backButton.style.display = 'none';
    document.querySelector('#event-list').insertAdjacentElement('beforebegin', backButton);

    backButton.addEventListener('click', function() {
        // Show all event containers
        document.querySelectorAll('.event-container').forEach(container => {
            container.style.display = 'block';
        });

        // Hide all bookmaker sections
        document.querySelectorAll('.bookmakers-section').forEach(section => {
            section.style.display = 'none';
        });

        // Deselect all event cards and outcomes
        document.querySelectorAll('.event-card, .outcome').forEach(element => {
            element.classList.remove('selected');
        });

        // Hide the back button
        this.style.display = 'none';

        // Reset selected event and outcome
        selected_event = null;
        selected_outcome = null;
    });

    // Modify the existing form submission
    document.getElementById('upload-form').addEventListener('submit', function(e) {
        e.preventDefault();
        if (selected_event && selected_outcome) {
            console.log('Submitting selection:');
            console.log('Event ID:', selected_event);
            console.log('Outcome ID:', selected_outcome);
        
            
            // Prepare the data to send
            const data = {
                event_id: selected_event,
                player_choice: selected_outcome
            };
            console.log('data ', data)

            // Send the data to the server
            fetch('{% url "core-portal:portal-upload_pick" match.id %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                // Handle successful submission
                alert('Pick uploaded successfully!');
                // Reload the page
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle errors (e.g., show an error message)
                alert('Error uploading pick. Please try again.');
            });
        } else {
            console.log('Please select both an event and an outcome before submitting.');
            alert('Please select both an event and an outcome before submitting.');
        }
    });

    function openPopup() {
        document.getElementById("event-popup").style.display = "block";
    }

    function openGoldenGamePopup() {
        document.getElementById("golden-game-popup").style.display = "block";
    }

    function openSmallGameEventPopup(gameId) {
        document.getElementById("small-game-event-popup").style.display = "block";
    }

    function openUploadPopup() {
        document.getElementById("upload-popup").style.display = "block";
    }

    function closeUploadPopup() {
        document.getElementById("upload-popup").style.display = "none";
    }

    // Close the popup if the user clicks outside of it
    window.onclick = function(event) {
        var popup = document.getElementById("upload-popup");
        if (event.target == popup) {
            popup.style.display = "none";
        }
    }

    function displayMarketsAndOutcomes(bookmakers){
        document.querySelectorAll('.bookmaker').forEach(function(bookmakerElement){
            bookmakerElement.style.display='block';
        })
    }

    
</script>
{% endblock %}
